<!DOCTYPE html>
<html>
  <head>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet" />
    <title>Nomad News | {{detail_data.title}}</title>
  </head>

  <body>
    <header>
      <h1>{{detail_data.title}}</h1>
      <div>
        {{detail_data.points}} points | By {{author}} |
        <a href="{{detail_data.url}}">{{detail_data.url}}</a>
      </div>
    </header>
    <main>
      {% for data in detail_data.get("children") %}
      <div>
        {% if data.text == None %} [deleted] {% else %}
        <strong>{{data.author}}</strong>
        <p>{{data.text | safe}}</p>
        {% endif %}
      </div>
      <hr />
      {% endfor %}
    </main>
  </body>
</html>
